@extends('layouts.app')


@section('content')

<div class="navbar ">
    <div class="container-fluid">
        <div class="col-xs-12 sub-menu">
            <a href="" class="btn btn-xs btn-primary navbar-btn">How to Play</a>
            <a href="" class="btn btn-xs btn-primary navbar-btn">Deposit</a>
            <a href="" class="btn btn-xs btn-primary navbar-btn">Winners</a>
        </div>
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="heading text-center">Login</h4>
                <form action="" class="login-form">
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="text" class="form-control" id="phone" placeholder="Phone Number">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
        </div>
    </div>
</div>

@stop