<template>
    <div class="container">
        <div id='example-3'>
            <input type="checkbox" class="hidden"  v-model="checkedNumbers"  v-model="checkedNumbers" value="01" id="no1" name="lucky_numbers[]">
            <label for="no1">01</label>


            <input type="checkbox" value="02" class="hidden"  v-model="checkedNumbers" v-model="checkedNumbers" name="lucky_numbers[]" id="no2">
            <label for="no2">02</label>


            <input type="checkbox" class="hidden"  v-model="checkedNumbers"  v-model="checkedNumbers" value="03" id="no3" name="lucky_numbers[]">
            <label for="no3">03</label>


            <input type="checkbox" value="04" class="hidden"  v-model="checkedNumbers" v-model="checkedNumbers" name="lucky_numbers[]" id="no4">
            <label for="no4">04</label>


            <input type="checkbox" class="hidden"  v-model="checkedNumbers" v-model="checkedNumbers" value="05" id="no5" name="lucky_numbers[]">
            <label for="no5">05</label>


            <input type="checkbox" value="06" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no6">
            <label for="no6">06</label>


            <input type="checkbox" value="07" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no7">
            <label for="no7">07</label>


            <input type="checkbox" value="08" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no8">
            <label for="no8">08</label>


            <input type="checkbox" value="09" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no9">
            <label for="no9">09</label>


            <input type="checkbox" value="10" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no10">
            <label for="no10">10</label>


            <input type="checkbox" class="hidden"  v-model="checkedNumbers" value="11" id="no11" name="lucky_numbers[]">
            <label for="no11">11</label>


            <input type="checkbox" value="12" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no12">
            <label for="no12">12</label>


            <input type="checkbox" class="hidden"  v-model="checkedNumbers" value="13" id="no13" name="lucky_numbers[]">
            <label for="no13">13</label>


            <input type="checkbox" value="14" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no14">
            <label for="no14">14</label>


            <input type="checkbox" class="hidden"  v-model="checkedNumbers" value="15" id="no15" name="lucky_numbers[]">
            <label for="no15">15</label>


            <input type="checkbox" value="16" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no16">
            <label for="no16">16</label>


            <input type="checkbox" value="17" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no17">
            <label for="no17">17</label>


            <input type="checkbox" value="18" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no18">
            <label for="no18">18</label>


            <input type="checkbox" value="19" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no19">
            <label for="no19">19</label>


            <input type="checkbox" value="20" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no20">
            <label for="no20">20</label>


            <input type="checkbox" class="hidden"  v-model="checkedNumbers" value="21" id="no21" name="lucky_numbers[]">
            <label for="no21">21</label>


            <input type="checkbox" value="22" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no22">
            <label for="no22">22</label>


            <input type="checkbox" class="hidden"  v-model="checkedNumbers" value="23" id="no23" name="lucky_numbers[]">
            <label for="no23">23</label>


            <input type="checkbox" value="24" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no24">
            <label for="no24">24</label>


            <input type="checkbox" class="hidden"  v-model="checkedNumbers" value="25" id="no25" name="lucky_numbers[]">
            <label for="no25">25</label>


            <input type="checkbox" value="26" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no26">
            <label for="no26">26</label>


            <input type="checkbox" value="27" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no27">
            <label for="no27">27</label>


            <input type="checkbox" value="28" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no28">
            <label for="no28">28</label>


            <input type="checkbox" value="29" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no29">
            <label for="no29">29</label>


            <input type="checkbox" value="30" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no30">
            <label for="no30">30</label>


            <input type="checkbox" class="hidden"  v-model="checkedNumbers" value="31" id="no31" name="lucky_numbers[]">
            <label for="no31">31</label>


            <input type="checkbox" value="32" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no32">
            <label for="no32">32</label>


            <input type="checkbox" class="hidden"  v-model="checkedNumbers" value="33" id="no33" name="lucky_numbers[]">
            <label for="no33">33</label>


            <input type="checkbox" value="34" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no34">
            <label for="no34">34</label>


            <input type="checkbox" class="hidden"  v-model="checkedNumbers" value="35" id="no35" name="lucky_numbers[]">
            <label for="no35">35</label>


            <input type="checkbox" value="36" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no36">
            <label for="no36">36</label>


            <input type="checkbox" value="37" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no37">
            <label for="no37">37</label>


            <input type="checkbox" value="38" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no38">
            <label for="no38">38</label>


            <input type="checkbox" value="39" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no39">
            <label for="no39">39</label>


            <input type="checkbox" value="40" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no40">
            <label for="no40">40</label>


            <input type="checkbox" class="hidden"  v-model="checkedNumbers" value="41" id="no41" name="lucky_numbers[]">
            <label for="no41">41</label>


            <input type="checkbox" value="42" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no42">
            <label for="no42">42</label>


            <input type="checkbox" class="hidden"  v-model="checkedNumbers" value="43" id="no43" name="lucky_numbers[]">
            <label for="no43">43</label>


            <input type="checkbox" value="44" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no44">
            <label for="no44">44</label>


            <input type="checkbox" class="hidden"  v-model="checkedNumbers" value="45" id="no45" name="lucky_numbers[]">
            <label for="no45">45</label>


            <input type="checkbox" value="46" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no46">
            <label for="no46">46</label>


            <input type="checkbox" value="47" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no47">
            <label for="no47">47</label>


            <input type="checkbox" value="48" class="hidden"  v-model="checkedNumbers" name="lucky_numbers[]" id="no48">
            <label for="no48">48</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
